In [131]:
import pandas as pd

In [132]:
math_or = pd.read_csv('../data/student-mat.csv')
port_or = pd.read_csv('../data/student-por.csv')
math = math_or.copy()
port = port_or.copy()

In [133]:
print(f'Sizes of dfs:\n  math: {math.shape}\n  port: {port.shape}')

Sizes of dfs:
  math: (395, 33)
  port: (649, 33)

In [134]:
math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [135]:
port.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [136]:
yes_no_mapper = {
    'yes': 1,
    'no': 0
}

yes_no_columns = [
    'schoolsup',
    'famsup',
    'paid',
    'activities',
    'nursery',
    'higher',
    'internet',
    'romantic'    
]
for column in yes_no_columns:
    math[column] = math[column].map(yes_no_mapper)
    port[column] = port[column].map(yes_no_mapper)

In [137]:
math['sex'] = math['sex'].map({'M': 0, 'F': 1})
math['Pstatus'] = math['Pstatus'].map({'A': 0, 'T': 1})
math['famsize'] = math['famsize'].map({'LE3': 0, 'GT3': 1})

port['sex'] = port['sex'].map({'M': 0, 'F': 1})
port['Pstatus'] = port['Pstatus'].map({'A': 0, 'T': 1})
port['famsize'] = port['famsize'].map({'LE3': 0, 'GT3': 1})

In [138]:
math = math.drop(columns=[
    'school', 'address', 'Mjob', 'Fjob', 'guardian', 'traveltime'
])

port = port.drop(columns=[
    'school', 'address', 'Mjob', 'Fjob', 'guardian', 'traveltime'
])

math.to_csv('../data/math_reason.csv', index=False)
port.to_csv('../data/port_reason.csv', index=False)


math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex         395 non-null    int64
 1   age         395 non-null    int64
 2   famsize     395 non-null    int64
 3   Pstatus     395 non-null    int64
 4   Medu        395 non-null    int64
 5   Fedu        395 non-null    int64
 6   reason      395 non-null    object
 7   studytime   395 non-null    int64
 8   failures    395 non-null    int64
 9   schoolsup   395 non-null    int64
 10  famsup      395 non-null    int64
 11  paid        395 non-null    int64
 12  activities  395 non-null    int64
 13  nursery     395 non-null    int64
 14  higher      395 non-null    int64
 15  internet    395 non-null    int64
 16  romantic    395 non-null    int64
 17  famrel      395 non-null    int64
 18  freetime    395 non-null    int64
 19  goout       395 non-null    int64
 20  Dalc        395 non-null    int64
 21  Walc        395 non-null    int64
 22  health      395 non-null    int64
 23  absences    395 non-null    int64
 24  G1          395 non-null    int64
 25  G2          395 non-null    int64
 26  G3          395 non-null    int64
dtypes: int64(26), object(1)
memory usage: 83.4+ KB

In [139]:
math = math.drop(columns=['reason'])
port = port.drop(columns=['reason'])


math.to_csv('../data/math_for_ML.csv', index=False)
port.to_csv('../data/port_for_ML.csv', index=False)